.box-container{
    height:100vh;
    width:100%;
    border:2px solid red;
    display: flex;
    justify-content: center;
}
.box{
    margin:10rem;
    height:50vh;
    width:60%;
    border:2px solid rgb(51, 255, 0);
    display: flex;
}
.left_box{
    border: 2px solid #443e3e;
    height: 100%;
   background: blue;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    width: 35%;
    padding-top: 80px;
    
}
.left_box h3{
    cursor:pointer;
}
.right_box{
    height:100%;
   width:65%;
   border:2px solid rgb(68, 62, 62);
}
